html {
  height: 100%;
}

body {
  background-color: #F5F5F5;
  height: 100%;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
}

header {
  margin-left:60px;
  color: white;
}

footer {
  margin-left:60px;
  color: white;
}

.container {
  max-width: 100%;
  padding: 30px;
  height: auto;
  margin-left:60px;
}




